body{
    background-color:rgba(255, 127, 30, 0.329);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6{
    color: orange;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    font-style: italic;
    font-size: 30px;
}

.snavbar{
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.snavbar a{
    color: black;
}

.snavbar a:hover{
    background-color: white;
    border-radius: 5px;
}


.maincontent{
    margin-left: 220px;
    padding: 20px;
}

.sidebar{
    background-color: white;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0%;
    padding: 15px;
    box-sizing: border-box;
}

.sidebar a{
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.link{
    color: black;
}

a {
    color: black;
}